h1{
    font-size: 55px;
    margin: 15px 0px;
    color: #525252ed;
}
p{
   margin-top: 50px;
   margin-bottom: 70px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.tomato-color{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-color: rgb(113, 55, 168);
    padding: 22px 50px;
    border-radius: 30px;
    font-weight: 700;
    background-image: linear-gradient(tomato, rgb(255, 0, 98));
    
    
    
}
.background-image-no-1{
    background-image: url(images/shapes/Group\ 8450.png);
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.left-first{
    margin-top: 100px;
}
.flexible{
    display: flex;
    margin-bottom: 0px;
}
.half-width img{
    width: 100%;
   
}
.about-me{
    padding-top: 50px;
}
.about-me img{
    width: 100%;

}
 .about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .background-imageno-2{
      padding-top: 50px;
  }
  .about-section .half-width img{
      width: 60%;
      margin-left: 100px;
  }
  .recipie-section{
      background:#f7f5f5a9;
  }
  .recipie-heading h1{
    text-align: center;
  }
  .recipie-heading p{
    text-align: center;
    padding:0px 350px;
  }
  .recipie-part{
      display: flex;
      margin:0% 6%;
  }
  .recipie-1{
      width: 30%;
      padding: 25px;
      margin: 0px 15px;
      border-radius: 15px;
      background: #fff;
      box-shadow: 4px 4px 18px 0px #dcdcdc;
  }
  .recipie-1 img{
      width: 100%;
  }
  .recipie-1 h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    padding-top: 7px;
  }
  .recipie-1 p{
    margin: 25px 0px;
    font-size: 16px;
  }
  .follower-section{
      width: 100%;
      margin: 50px 0px;
  }
  .follower-box{
      display: flex;
      margin: 0% 7%;
      padding: 50px 10px;
      border-radius: 15px;
    box-shadow: 7px 7px 20px 1px #bbb7b7;
  }
  .subscriber{
    width: 30%;
    margin: 0px 20px;
    text-align: center;
  }
  .subscriber h2 {
      font-size: 40px;
      margin: 20px 0px;
  }
  .subscriber p {
      margin: 5px 0px;
      text-align: center;
  }
  footer{
      background: #333;
  }
  .footer-section{
      padding-top: 25px;
      padding-bottom: 50px;
  }
  .footer-section h2{
      text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
  }
  .footer-section h2 span{
      color: orangered
  }
  .footer-section p {
      font-size: 18px;
      text-align: center;
      color:#fff;
  }
